@import "variables";
@import "mixins";

#admin-page {

  .index-head1 {
    background-color: #b12f0d;
  }

  .avatar-img {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #ddd;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
  }

  .header-avatar-wrap2 {
    background-color: #fef2da;
    padding: 15px;
    display: flex;
    .avatar-box {
      flex: 0 1 auto;
      width: 85px;
      height: 85px;
      border: 2px solid #ffffff;
      overflow: hidden;
      border-radius: 100%;
    }
    .avatar-cont {
      flex: 4 1 auto;
      line-height: 1.6;
      margin-left: 20px;
      em {
        color: $activeColor;
      }
    }
    .user-name {
      font-weight: bold;
      line-height: 2.2;
      margin-bottom: 5px;
      font-size: 15px;
    }
    .sub-info {
      color: $gray-light;
      em { margin-left: 0; }
    }
  }

  .vip-combo-item {
    padding: 15px 12px;
    .media-small-imgtxt { margin-bottom: 0; }
    .img {
      width: 42px;
      height: 42px;
      border: none;
    }
    .price {
      margin-top: 5px;
      strong {
        font-size: 1.2em;
      }
    }
    .media-explain {
      color: #f07e53;
    }
    &.is-radio {
      label {
        display: flex;
        align-items: center;
      }
      .mint-radio {
        margin-right: 15px;
        flex: 0 1 auto;
      }
      .media-small-imgtxt {
        flex: 1 1 auto;
      }
    }
  }

  // 模板列表
  .grid-tpls {
    padding: 8px;
    @include clearfix();
    .grid-col-item {
      float: left;
      width: 46%;
      padding: 5px;
      margin: 0 2% 8px;
      background-color: #FFFFFF;
      .media-title {
        padding-left: 5px;
        padding-right: 5px;
        border-top: 1px solid $grayBdLight;
      }
      .sub-tag { font-size: .9em; }
    }
  }
}

.circleProgress_wrapper {
  $border-width: 35px;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  .wrapper {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }

  .circleProgress {
    width: 200%;
    height: 100%;
    border: $border-width solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
  }
  .rightcircle {
    border-top: $border-width solid #F6C110;
    border-right: $border-width solid #F6C110;
    right: 0;
    /*animation: circleProgressLoad_right 5s linear infinite;*/
  }
  .leftcircle {
    border-bottom: $border-width solid #F6C110;
    border-left: $border-width solid #F6C110;
    left: 0;
    /*animation: circleProgressLoad_left 5s linear infinite;*/
  }

  @-webkit-keyframes circleProgressLoad_right {
    0% {
      -webkit-transform: rotate(45deg);
    }
    50%,100% {
      -webkit-transform: rotate(225deg);
    }
  }
  @-webkit-keyframes circleProgressLoad_left {
    0%,50% {
      -webkit-transform: rotate(45deg);
    }
    100% {
      -webkit-transform: rotate(225deg);
    }
  }

}