@import "variables";
@import "mixins";

#admin-page {
  .avatar-img {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #ddd;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
  }
}