@import "variables";
@import "mixins";

// =====================================
// ----------- 项目公共样式 -------------

// ========================
// 浏览器重置样式
body {
  background-color: $globalBg;
}

// ========================
// 框架重置样式
.mint-header,
.mint-navbar {
  border-bottom: 1px solid $grayBdLight;
  margin-bottom: 8px;
}
.mint-header {
  height: 48px;
  background-color: #ffffff;
  color: inherit;
  .mint-header-title {
    font-size: 15px;
  }
  &.is-fixed {
    z-index: 2;
    & + * {
      padding-top: 48px;
    }
  }
  .right-link {
    font-size: 14px;
    color: #1F76ED;
  }
}

.mint-search {
  height: auto;
}
.mint-searchbar {
  background-color: $globalBg;
  padding: 10px 15px;
}
.mint-searchbar-inner {
  height: 35px;
  background-color: #ffffff;
}
.mint-searchbar-inner .mintui-search,
.mint-searchbar-placeholder {
  font-size: 14px;
}
.mint-searchbar-cancel { color: inherit; }
.mint-search-list {
  padding-top: 0;
  top: 55px;
  bottom: 0;
  overflow: auto;
  z-index: 2;
}
.mint-navbar .mint-tab-item.is-selected {
  color: $activeColor;
  border-color: $activeColor;
}


.mint-swipe img { height: 100%; }
.mint-swipe-indicator.is-active {
  background-color: $orange-dark;
  opacity: 1;
}
.mint-cell .mint-cell-allow-right { margin-right: 0; }
.mint-cell-text {  vertical-align: inherit; }


.mint-indexlist-nav {
  border-left-color: $grayBdLight;
}

.mint-cell-right {
  z-index: 10;
}

// ========================
// 自定义公用样式
.mint-header {
  .is-left,
  .is-right {
    font-size: 16px;
    color: $gray2;
  }
}

#header-search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-left: 38px;
  background-color: $globalBg;
}

.top-search-box {
  overflow: hidden;
  line-height: 30px;
  @include background-color-rgba(#fff, .5);
  border-radius: 3px;
  color: $gray2;
  i { margin-right: 8px; }
  .input-box { overflow: hidden; }
  input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    &::-webkit-input-placeholder { color: inherit; }
  }
}

#top-back-btn {
  font-size: 16px;
  color: $gray2;
}

#top-back-btn {
  position: fixed;
  left: 15px;
  top: 13px;
  z-index: 10;
  height: 30px;
  line-height: 30px;
}

// 底部有编辑按钮时，统一的底部填充
.bottom-bar-padding {
  padding-bottom: 60px;
}
#bottom-fixed-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0;
  right: 0;
}


.block-wrap {
  background-color: #ffffff;
  margin-bottom: 8px;
  .block-cont {
    margin: 10px 10px;
    padding-top: 10px;
  }
  .title-bar + .block-cont {
    padding-top: 0;
  }
}
.title-bar {
  display: block;
  padding: 0 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid $grayBdLight;
  .title {
    font-size: 1.1em;
    font-weight: normal;
  }
}

// 通用的图文模块
.general-imgtxt,
.general-imgtxt2 {
  @include clearfix();
  &:last-child { margin-bottom: 0; }
  .media-title {
    font-weight: normal;
    line-height: 1.2;
    height: 2.4em;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: normal;
  }
  .img {
    height: 60px;
    line-height: middleImg(60px);
    width: 60px;
    border: none;
  }
}

.general-imgtxt2 {
  position: relative;
  padding: 12px 12px 0px;
  margin-bottom: 8px;
  .img {
    width: 100px;
    height: 80px;
    line-height: middleImg(80px);
    margin-bottom: 12px;
  }
  .media-title {
    line-height: 1.4;
    height: 2.8em;
    margin-bottom: 15px;
  }
  .bottom-acts {
    clear: both;
    padding: 10px 0;
    text-align: right;
    border-top: 1px solid $grayBdLight;
  }
  .mint-button {
    height: 30px;
    border-color: $orange-dark;
    color: $orange-dark;
    margin-left: 10px;
  }
  .like-btn {
    &.on i {
      color: $orange-dark;
    }
  }
}

// 模拟已失效章印
.stamp-invalid {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 3em;
  height: 3em;
  line-height: 3em;
  font-size: 20px;
  border-radius: 50%;
  color: #dcdcdc;
  transform:rotate(-12deg);

  &:before, &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  &:before {
    z-index: 9;
    $juli: 2px;
    left: $juli;
    right: $juli;
    top: $juli;
    bottom: $juli;
    border: 1px solid #dcdcdc;
  }
  &:after {
    z-index: 8;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border: 2px solid #dcdcdc;
  }
}

// 右滑删除功能
.mint-cell-swipe-buttongroup {
  display: flex;
}
.mint-cell-swipe-button {
  display: flex;
  align-items: center;
}

.company-info-wrap {
  display: block;
  padding: 10px 15px;
  .company-info-box {
    display: flex;
    align-items: center;
  }
  .media-small-imgtxt {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
  .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .media-title {
    margin-top: 5px;
    font-size: 17px;
  }
  .label-items {
    margin-top: 15px;
  }
  .label-item {
    padding: 5px 0;
    padding-left: 5em;
    text-indent: -5em;
  }
}

// 钻石，黄金，VIP会员，认证等样式
.grade-info {
  display: inline-block;
  [class^="icon-"], [class*=" icon-"],
  [class^="myicon-"], [class*=" myicon-"] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 16px;
    border-radius: 100%;
    color: #FFFFFF;
  }
  .icon-vip-o {
    background-color: green;
  }
  .icon-crown-o {
    background-color: $brand-warning;
  }
  .icon-diamond {
    background-color: #1F76ED;
  }

  .word-ico {
    height: 22px;
    line-height: 22px;
    margin-right: 0;
    border-radius: 3px;
    font-size: 15px;
    background-color: #990000;
    color: #fadf6b;
  }
}

// 消息流样式（动态）
.trends-item {
  background-color: #FFFFFF;
  margin-bottom: 8px;
  padding: 12px 12px 3px;
  .media-small-imgtxt {
    margin-bottom: 8px;
    .ico-box {
      margin-top: 3px;
      text-align: center;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      [class^="icon-"], [class*=" icon-"] {
        font-size: 24px;
        vertical-align: middle;
      }
    }

  }

  .content {
    line-height: 1.6;
    margin-bottom: 12px;
  }
  .detail-btn {
    display: block;
    line-height: 3;
    text-align: center;
    margin-top: 8px;
    color: #1F76ED;
    @include slenderBorder($dir: top);
  }
}



.media-list {
  .block-cont {
    @include clearfix();
  }
  .media-base {
    float: left;
    width: 47%;
    margin: 0 1.5% 10px;
    border: 1px solid $grayBdLight;
  }
  .media-title, .media-price {
    padding-left: 5px;
    padding-right: 5px;
  }
  img { width: 100%; }
  em { margin-left: 0; }
  .media-price {
    padding-bottom: 6px;
    font-size: 13px;
    color: $gray2;
    strong { font-size: 1.1em; }
  }

  .media-plus-btn {
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    color: $gray-light2;
  }
}
